table {
  width: 100%;
}

.mat-paginator-range-label {
    display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

input mat-form-field mat-form-field-appearance-outline mat-form-field-outline {
  /* color: rgb(255, 255, 255); */
  border: 0;
  outline: 0;
}

input {border:0;outline:0;}

input:hover {border:2;outline:2;}

input.mat-input-element {
  color: rgb(0, 0, 0);
}

.app-toolbar-menu {
  border: 2px solid transparent;
  cursor: pointer;
}

.app-toolbar-menu:hover {
  border-color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-mdc-text-field-wrapper mdc-text-field ng-tns-c69-4 mdc-text-field--no-label
{}

.mat-mdc-text-field-wrapper .mdc-text-field .ng-tns-c69-4 .mdc-text-field--no-label
{}
