table {
  width: 100%;
}

.mat-paginator-range-label {
    display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
}

input.mat-input-element {
  color: rgb(0, 0, 0);
}

.app-toolbar-menu {
  border: 2px solid transparent;
  cursor: pointer;
}

.app-toolbar-menu:hover {
  border-color: white;
}
