<div *ngIf="loanData" class="d-flex m-3 loan-card-wrapper">
    <div class="d-flex card loan-card">
        <h5 class="card-title m-3">Loan Application Id- {{loanData.loanApplicationId}}</h5>
        <div class="card-body">
            <p class="card-text m-3"> Name: {{loanData.userFirstName}} {{loanData.userLastName}}</p>
            <p class="card-text m-3">Email: {{loanData.userEmailAddress}}</p>
            <p class="card-text m-3">Loan Amount: {{formatCurrency(loanData.loanAmount)}}</p>
            <p class="card-text m-3">Approval Status: {{loanData.approved?"approved":"Not Approved"}}</p>
            <button *ngIf="!loanData.approved" class="btn btn-success m-3" (click)="approveLoan()">Approve</button>
        </div>
    </div>
</div>