<div *ngIf="loanData" class="d-flex  m-3 loan-card-wrapper">
    <div class="d-flex card loan-card ">
        <h5 class="card-title m-3 .mat-h5">Loan Application Id- {{loanData.loanApplicationId}}</h5>
        <div class="card-body d-flex" >
            <div class="loan-user-info">
            <div class="d-flex text-center "> <mat-icon>person</mat-icon> <div class="card-text"> Name: {{loanData.userFirstName}} {{loanData.userLastName}}</div></div>
            <div class="d-flex text-center "> <mat-icon>email</mat-icon> <div class="card-text">Email: {{loanData.userEmailAddress}}</div></div>
            <div class="d-flex text-center "> <mat-icon>calendar_month</mat-icon><div class="card-text">Date of Birth: {{convertDate(loanData.userDOB) }}</div></div>
            <div class="d-flex text-center "> <mat-icon>home</mat-icon><div class="card-text">Address: {{loanData.userAddress.street + ", "+ loanData.userAddress.city+ ", "+ loanData.userAddress.state }}</div></div>
            </div>
            <div class="loan-account-info">
            <div class="d-flex text-center ">  <mat-icon>attach_money</mat-icon> <div class="card-text">Loan Amount: {{formatCurrency(loanData.loanAmount)}}</div></div>
            <div class="d-flex text-center "> <mat-icon>done</mat-icon><div class="card-text">Loan Approval: {{loanData.approved?"Approved":"Not Approved"}}</div></div>
            <div *ngIf="loanData.decisionDate" class="d-flex text-center "> <mat-icon>done</mat-icon><div class="card-text">Decision Date: {{convertDate(loanData.decisionDate) }}</div></div>
        </div> 
           

        </div>
 
        <div class="spinner-container" *ngIf="loading">
             <div class="spinner"></div>
        </div>
       <button *ngIf="!loanData.approved" class="btn btn-success m-3" (click)="approveLoan()">Approve</button> 
    </div>
    
</div>

