<div class="d-flex justify-content-center m-3 card-wrapper">
    <div class="card w-75 home-card  ">
        <div class="card-body">
            <h5 class="card-title m-2">{{sectionTitle}}</h5>
            <p class="card-text m-3">{{sectionText}}</p>

            <div class="btn-nav d-flex justify-content-center">
                 <button type="button" class=" btn button-7 btn-primary m-1" [routerLinkActive]="['active']"
                routerLink={{sectionLink}}>View All</button>
            <button type="button" class=" btn button-7 btn-primary m-1" [routerLinkActive]="['active']"
                routerLink={{CreateLink}}>Create</button>
        
            </div>
           

        </div>
    </div>
</div>