<app-section [customTitle]="currentTitle">
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="" [formControl]="fn" required>
    <mat-error *ngIf="fn.invalid">{{getErrorMessageFn()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="" [formControl]="ln" required>
    <mat-error *ngIf="ln.invalid">{{getErrorMessageLn()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
    <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-icon>
  </mat-form-field>

  <mat-icon
    mat-icon-button
    class="material-icons app-toolbar-menu save-button"
    matTooltip="Save Changes"
    (click)="submitUser()"
    color="primary"
    >
    <mat-icon>check_circle</mat-icon>
  </mat-icon>
</app-section>

