<div class="container">
  <h1>Create Credit Card Type</h1>
  <form [formGroup]="form" (ngSubmit)="createCreditCardType()" class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Rewards Name</mat-label>
      <input matInput formControlName="rewardsName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Interest Rate</mat-label>
      <input matInput type="number" formControlName="interestRate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Minimum Payment</mat-label>
      <input matInput type="number" formControlName="minimumPayment" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Credit Limit</mat-label>
      <input matInput type="number" formControlName="creditLimit" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Create</button>
  </form>
</div>
