<app-section [customTitle]="currentTitle">
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput placeholder="" [formControl]="id">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="" [formControl]="fn">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="" [formControl]="ln">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="" [formControl]="email">
  </mat-form-field>

  <mat-icon
    mat-icon-button
    class="material-icons app-toolbar-menu search"
    matTooltip="Search for User"
    (click)="searchUser()"
    color="primary"
    >
    <mat-icon>search</mat-icon>
  </mat-icon>
</app-section>
