.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

form {
    width: 100%;
    max-width: 600px;
 
}
.confirmation {

    text-align: center;
}
.approval-button {
    margin: 0 auto;
}

.confirmation-wrapper {
    text-align: center;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    justify-content: center;
    position: absolute;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner_overlay {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    z-index: 1000;
}