<app-section [customTitle]="currentTitle">
    
<div class="cards-grid">
<app-home-cards sectionTitle="Users" sectionText="Create and Update Users and User details"
    sectionLink="/users" CreateLink="/users/create"></app-home-cards>
<app-home-cards sectionTitle="Accounts" sectionText="Create and Update Accounts and Account details" sectionLink="/accounts" CreateLink="/accounts/create"></app-home-cards>
<app-home-cards sectionTitle="Transactions" sectionText="Create and Update Transactions and Transactions details" sectionLink="/transactions" CreateLink="/transactions/create"></app-home-cards>

<app-home-cards sectionTitle="Appointments"
    sectionText="Create and Update Appointments and Appointments" sectionLink="/appointments"
    CreateLink="/appointments/create"></app-home-cards>
<app-home-cards sectionTitle="Credit Cards" sectionText="View and Approve Credit Cards and Credit Card details" sectionLink="/creditcards" ></app-home-cards>
<app-home-cards sectionTitle="Loans" sectionText="View and Approve Loans and Loan details" sectionLink="/loans"></app-home-cards>
<app-home-cards sectionTitle="Credit Card Types"
    sectionText="Create and Update Credit Card Types" sectionLink="/creditcardtypes"
    CreateLink="/creditcardtypes/create"></app-home-cards>
</div>
</app-section>  