
<app-section [customTitle]="currentTitle">
  <input type="text" [(ngModel)]="searchValue" (input)="onSearch()" placeholder="Search loans...">
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <div *ngFor="let loan of displayedLoans"><app-loans-card [loanData]="loan"></app-loans-card></div>
  <mat-paginator [length]="loans.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)">
  </mat-paginator>
</app-section>